<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: Algorithms and Data Structures</li>
</ul>

<ul>
  <li>Code: JS301</li>
  <li>Name: Advanced Javascript</li>
  <li>Description: Master Course in Javascript</li>
</ul>